@page "/Bedroom/Closet"
@using Bydgoszcz.Services;

@inject NavigationManager _navigationManager
@inject IPinkService _pinkService

<div class="background">
	<h1>Closet</h1>
	<div class="buttons">
		<button @onclick='() => OnClick("Bedroom/Main")'>Get out of the closet</button>
		@if(!_pinkService.IsPink)
		{
			<button @onclick='() => SetPink(true)'>Enter Barbie mode</button>
		}
		else
		{
			<button @onclick='() => SetPink(false)'>Exit Barbie mode</button>
		}
	</div>
</div>

@code {

	void OnClick(string destination)
	{
		_navigationManager.NavigateTo($"/{destination}");
	}

	void SetPink(bool pink)
	{
		_pinkService.SetPink(pink);
		_navigationManager.NavigateTo("/Bedroom/Main");
	}
}
