@page "/Bedroom/Main"
@using Bydgoszcz.Services

@inject NavigationManager _navigationManager
@inject INavigateToPage _navigateToPage

<div class="background">
	<div class="main">
		<h1>Bedroom</h1>
		<button class="closet" @onclick='() => _navigateToPage.OnNavigatedTo("Bedroom/Closet")'>Enter closet</button>
		<button class="hall" @onclick='() => _navigateToPage.OnNavigatedTo("Hal1")'>Leave room</button>
	</div>
</div>


@code {

	

}
