@page "/insideBedroom/closet"
@page "/insideBedroom/closet/{gun}"
@using Bydgoszcz.Services;

@inject NavigationManager _navigationManager
@inject IPinkService _pinkService

<div class="background">
	<div class="main">
		<h1>Closet</h1>
		@* 			<button @onclick='() => OnClick("insideBedroom/main")'>Get out of the closet</button>*@
		@if(!_pinkService.IsPink)
		{
			<button @onclick='() => SetPink(true)'>Exit closet</button>
		}
		else
		{
			<button @onclick='() => SetPink(false)'>Exit closet</button>
		}
	</div>
</div>

@code {
	[Parameter]
	public bool gun { get; set; }

	void OnClick(string destination)
	{
		_navigationManager.NavigateTo($"/{destination}");
	}

	void SetPink(bool pink)
	{
		_pinkService.SetPink(pink);
		if(gun)
		{
			_navigationManager.NavigateTo("/insideBedroom/main2");
		}
		else
		{
			_navigationManager.NavigateTo("/insideBedroom/main");
		}
	}
}
