@page "/bathroom"
@using Bydgoszcz.Services

@inject NavigationManager _navigationManager
@inject INavigateToPage _navigateToPage

<div class="background">
	<div class="main">
		<h1>Bathroom</h1>
		<button class="shower" onclick='OpenShower()'>Enter shower</button>
		<video class="w-100" style="max-width:800px;" controls>
			<source src="url(/Content/Vids/enemy_1-1.webm)" type="video/webm" />
			Your browser does not support the video tag.
		</video>
	</div>
</div>


@code {

	private void OpenShower()
	{

	}

}
