@page "/bedroom"
@inject NavigationManager _navigationManager
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper

<div class="background">
	<div class="main">
		<h1>Bedroom</h1>
		@*     <link rel="icon" type="image/png" href="favicon.png" />

		<img scr="../Resources/Images/bedroomm.png" alt="Image" />
		<p>URL: @GetBaseUrl()</p> *@
		<button class="closet" @onclick='() => OnClick("closet")'>Enter closet</button>
		<button class="hall" @onclick='() => OnClick("hal1")'>Leave room</button>
		<p>bhjgffkj</p>
	</div>
</div>

@code {
	void OnClick(string destination)
	{
		_navigationManager.NavigateTo($"/{destination}");
	}

	// private string GetImageUrl(string imageName)
	// {
	//     string url = GetBaseUrl();
	//     // Combine with the relative path to the image
	//     return $"{url}images/{imageName}";
	// }

	private string GetBaseUrl()
	{
		// Get the base URL of the application
		return UriHelper.BaseUri;
	}
}
