@page "/hal1"
@using Bydgoszcz.Services

@inject NavigationManager _navigationManager
@inject INavigateToPage _navigateToPage


<div class="background">
	<div class="main">
		<h1>First Hall</h1>
		<button class="bathroom" @onclick='() => _navigateToPage.OnNavigatedTo("bathroom")'>Enter bathroom</button>
		<button class="stairs" @onclick='() => _navigateToPage.OnNavigatedTo("stairs")'>Go downstairs</button>
		<button class="bedroom" @onclick='() => _navigateToPage.OnNavigatedTo("insideBedroom/main")'>Go to bedroom</button>
	</div>
</div>


@code {

}
