@page "/"
@inject NavigationManager _navigationManager

<div class="background">
	<div class="main">
		<h1>Bydgoszcz</h1>
		<button @onclick="OnClick">Play</button>
	</div>
	
</div>


@if(button)
{
	_navigationManager.NavigateTo("/Bedroom");
}


@code{
	bool button = false;

	public void OnClick(){
		button = true;
	}
}
