@page "/"
@inject NavigationManager _navigationManager

<div class="background">
	<h1>BYDGOSZCZ</h1>
	<button @onclick="OnClick">Play</button>
</div>


@if(button)
{
	_navigationManager.NavigateTo("/Bedroom");
}


@code{
	bool button = false;

	public void OnClick(){
		button = true;
	}
}
