@page "/"
@using Bydgoszcz.Services
@inject NavigationManager _navigationManager
@inject INavigateToPage _navigateToPage
@inject IDatabaseProvider _databaseProvider

<body class="background">
		<div class="main">
			<h1>Loading...</h1>
		</div>
</body>





@code{

	protected override void OnInitialized()
	{
		_databaseProvider.SaveBulletsAsync(0);
		_databaseProvider.SaveGunAsync(false);

		_navigateToPage.OnNavigatedTo("insideBedroom/main");
		_navigateToPage.OnNavigatedTo("insideBedroom/closet");
		_navigateToPage.OnNavigatedTo("bathroom");
		_navigateToPage.OnNavigatedTo("stairs");
		_navigateToPage.OnNavigatedTo("hall1");
		_navigateToPage.OnNavigatedTo("startpage");

		
		base.OnInitializedAsync();
	}
}
